<%= flash[:success] %>
<%= flash[:error] %>
<body>
  <div id="container">
    <%= render 'tables/chart'%>
    <%= render 'home/betform'%>
    <%= render 'home/chatform'%>
    <%= render 'tables/burst_table'%>
    <%= render 'tables/your_bets'%>
    

  </div>

  <script src="chart.js"></script>

       
  <!-- Include Bootstrap JS (optional) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
